---
layout: page
title: Redesign Design Radar
id: home
---

<div class="jumbotron">
	<div class="container">
		<h1>{{ page.title }}</h1>
		<p>Diese Seite dient der Organisation und Dokumentation meiner Bachelor Thesis.</p>
		<p><a class="btn btn-primary btn-lg" role="button" href="/RDDR/RDDR-01-Einleitung.html">Starten Sie hier! &raquo;</a></p>
	</div>
</div>

<div class="container">
	<div class="row">
		{% for page in site.pages %}
		{% if page.category == 'index' %}
		<div class="col-md-3">
			<h2>{{ page.title }}</h2>
			<p>
				{{ page.content | truncate: 160 }} 
				<a class="btn btn-default btn-xs" href="/RDDR{{ page.url }}" role="button"> … </a>
			</p>
		</div>
		{% endif %}
		{% endfor%}
	</div>
</div>
