<div class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/RDDR/index.html">RDDR</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">

				<li><a href="/RDDR/RDDR-Einleitung.html">Einleitung</a></li>
				<li><a href="/RDDR/RDDR-Analyse.html">Analyse</a></li>
				<li><a href="/RDDR/RDDR-These.html">These</a></li>
				<li><a href="/RDDR/RDDR-Methode.html">Methode</a></li>
				<li><a href="/RDDR/RDDR-Glossar.html">Glossar</a></li>
				<li><a href="/RDDR/RDDR-Impressum.html">Impressum</a></li>
				<li><a href="/RDDR/RDDR-Gliederung.html">Gliederung</a></li>
				<li><a href="/RDDR/RDDR-Linksammlung.html">Linksammlung</a></li>

			</ul>
		</div>
	</div>
</div>